@use 'variables';
@use 'utilities';
@use 'party-ui';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100%;
}

body {
  background: linear-gradient(-10deg, var(--color-bg), var(--color-bg-end));
  color: var(--color-text);
  font-family: var(--font-family-base);
  font-size: var(--font-size-md);
  line-height: var(--line-height-normal);
}

#app {
  min-height: 100vh;
}

button {
  font-family: inherit;
  cursor: pointer;
}

a {
  color: var(--color-accent);
}
